In [1]:
from pyspark.sql import SparkSession
import os

In [2]:
# Inisialisasi SparkSession dengan konfigurasi untuk mengakses Hadoop HDFS
spark = SparkSession.builder \
    .appName("Access HDFS with PySpark") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://46.250.229.129:9000") \
    .config("spark.hadoop.conf", "/usr/local/hadoop/conf") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/31 23:34:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Inisialisasi SparkSession
# spark = SparkSession.builder \
#     .appName("List HDFS Directory") \
#     .config("spark.master", "local") \
#     .getOrCreate()

# Tentukan path HDFS tempat direktori berada
hdfs_path = "hdfs://46.250.229.129:9000/train.csv"

# Gunakan SparkContext untuk mengakses HDFS
sc = spark.sparkContext

# List direktori menggunakan hadoop FileSystem API
uri = sc._gateway.jvm.java.net.URI
fs = sc._gateway.jvm.org.apache.hadoop.fs.FileSystem
conf = sc._gateway.jvm.org.apache.hadoop.conf.Configuration
path = sc._gateway.jvm.org.apache.hadoop.fs.Path

hdfs = fs.get(uri(hdfs_path), conf())

# Mencantumkan file dan direktori di dalam direktori HDFS yang ditentukan
status = hdfs.listStatus(path(hdfs_path))

# Cetak isi dari direktori
for file_status in status:
    print(file_status.getPath())

# Tutup SparkSession
spark.stop()

hdfs://46.250.229.129:9000/train.csv

In [6]:
from pyspark.sql import SparkSession
import matplotlib.pyplot as plt
import io
from PIL import Image

# Inisialisasi SparkSession
spark = SparkSession.builder.appName("Visualize Image").getOrCreate()

hdfs_input_path = "hdfs://46.250.229.129:9000/train.csv"

df = spark.read.csv(hdfs_input_path, header=True)

In [8]:
df.__dict__

{'_sql_ctx': None,
 '_session': <pyspark.sql.session.SparkSession at 0x115cf0d60>,
 '_sc': <SparkContext master=local[*] appName=Visualize Image>,
 '_jdf': JavaObject id=o80,
 'is_cached': False,
 '_schema': StructType([StructField('PassengerId', StringType(), True), StructField('Survived', StringType(), True), StructField('Pclass', StringType(), True), StructField('Name', StringType(), True), StructField('Sex', StringType(), True), StructField('Age', StringType(), True), StructField('SibSp', StringType(), True), StructField('Parch', StringType(), True), StructField('Ticket', StringType(), True), StructField('Fare', StringType(), True), StructField('Cabin', StringType(), True), StructField('Embarked', StringType(), True)]),
 '_lazy_rdd': None,
 '_support_repr_html': True}

In [9]:
df.show(truncate=False)

+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                                                   |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|1          |0       |3     |Braund, Mr. Owen Harris                                |male  |22  |1    |0    |A/5 21171       |7.25   |NULL |S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)    |female|38  |1    |0    |PC 17599        |71.2833|C85  |C       |
|3          |1       |3     |Heikkinen, Miss. Laina                                 |female|26  |0    |0    |STON/O2. 3101282|7.925  |NULL |S       |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)           |female|35  |1    |0    |113803          |53.1   |C123 |S       |
|5          |0       |3     |Allen, Mr. William Henry                               |male  |35  |0    |0    |373450          |8.05   |NULL |S       |
|6          |0       |3     |Moran, Mr. James                                       |male  |NULL|0    |0    |330877          |8.4583 |NULL |Q       |
|7          |0       |1     |McCarthy, Mr. Timothy J                                |male  |54  |0    |0    |17463           |51.8625|E46  |S       |
|8          |0       |3     |Palsson, Master. Gosta Leonard                         |male  |2   |3    |1    |349909          |21.075 |NULL |S       |
|9          |1       |3     |Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      |female|27  |0    |2    |347742          |11.1333|NULL |S       |
|10         |1       |2     |Nasser, Mrs. Nicholas (Adele Achem)                    |female|14  |1    |0    |237736          |30.0708|NULL |C       |
|11         |1       |3     |Sandstrom, Miss. Marguerite Rut                        |female|4   |1    |1    |PP 9549         |16.7   |G6   |S       |
|12         |1       |1     |Bonnell, Miss. Elizabeth                               |female|58  |0    |0    |113783          |26.55  |C103 |S       |
|13         |0       |3     |Saundercock, Mr. William Henry                         |male  |20  |0    |0    |A/5. 2151       |8.05   |NULL |S       |
|14         |0       |3     |Andersson, Mr. Anders Johan                            |male  |39  |1    |5    |347082          |31.275 |NULL |S       |
|15         |0       |3     |Vestrom, Miss. Hulda Amanda Adolfina                   |female|14  |0    |0    |350406          |7.8542 |NULL |S       |
|16         |1       |2     |Hewlett, Mrs. (Mary D Kingcome)                        |female|55  |0    |0    |248706          |16     |NULL |S       |
|17         |0       |3     |Rice, Master. Eugene                                   |male  |2   |4    |1    |382652          |29.125 |NULL |Q       |
|18         |1       |2     |Williams, Mr. Charles Eugene                           |male  |NULL|0    |0    |244373          |13     |NULL |S       |
|19         |0       |3     |Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)|female|31  |1    |0    |345763          |18     |NULL |S       |
|20         |1       |3     |Masselmani, Mrs. Fatima                                |female|NULL|0    |0    |2649            |7.225  |NULL |C       |
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows